{% load static %}
<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{% static "swagger/swagger-ui.css" %}" >
    <link rel="icon" type="image/png" href="{% static "swagger/favicon-32x32.png" %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static "swagger/favicon-16x16.png" %}" sizes="16x16" />
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div class="swagger-ui">
      <div class="information-container wrapper">
        <section class="block col-12">
          <div class="info">
            <hgroup class="main"><h2 class="title">Active user credetials</h2>
              <table>
                <tr><th>Email</th><th>Password</th></tr>
                {% for email, password in credentials %}
                <tr>
                  <td style="text-align:center">{{ email }}</td>
                  <td style="text-align:center">{{ password }}</td>
                </tr>
                {% endfor %}
              </table>
            </hgroup>
          </div>
        </section>
      </div>
    </div>

    <div id="swagger-ui"></div>


    <script src="{% static "swagger/swagger-ui-bundle.js" %}"> </script>
    <script src="{% static "swagger/swagger-ui-standalone-preset.js" %}"> </script>
    <script>
    window.onload = function() {
      // Begin Swagger UI call region
      const ui = SwaggerUIBundle({
        url: "{% url "swagger_json" %}",
        dom_id: '#swagger-ui',
        deepLinking: true,
        defaultModelsExpandDepth: 2,
        valiatorUrl: null,
        responseInterceptor: function(response){
          if(response && response.obj && response.obj.access_token){
              const token = response.obj.access_token;
              ui.preauthorizeApiKey("JWT", token);
          }
          return response;
        },          
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset,
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "BaseLayout"
      })
      // End Swagger UI call region

      window.ui = ui
    }
  </script>
  </body>
</html>
